@model List<Decision>


@{
    var i = 1;
}
<form asp action="DeleteHistory" method="post">
    <input type="submit" value="Delete selected" />
    <table>
        <tr>
            <td>Select</td>
            <td>№</td>
            <td>Question</td>
            <td>Answer</td>
            <td>Date</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="decisionIdsToDelete" id="decisionIdsToDelete" value="@item.Id" />
                </td>
                <td>@i</td>
                <td>@item.Question</td>
                <td>@item.Answer</td>
                <td>@item.DateOfQuestion</td>
            </tr>
            { i++; }
        }
    </table>
   
</form>
